<!-- esto es herencia llamar al selector del componente y nunca habiamos colocado nada dentro
     pero en herencia si -->
<!-- Zona heredable desde el padre -->
<app-widget>
    <!-- el va al padre widget.component y coloca el titulo, por eso alla hay un ng-content -->
    <span title-widget>{{'label.widget.title.stadistics' | translate}}</span>

    <!-- Zona heredable desde el padre -->
    <div class="row" content-widget>
        <div class="col-12">
            <div class="row">
                <!-- El lg es el mas grande de bootstrap -->
                <div class="col-xl-6 col-lg-12">
                    <i class="fa fa-users"></i>
                    <span class="ml-3 mr-3">{{'label.users' | translate}}</span>
                    <span>{{numUsers}}</span>
                </div>

                <div class="col-xl-6 col-lg-12">
                    <i class="fa fa-pencil-square-o"></i>
                    <span class="ml-3 mr-3">{{'label.posts' | translate}}</span>
                    <span>{{numPosts}}</span>
                </div>                
            </div>

            <div class="row">
                <!-- Numero de comentarios que los traigo del backend -->
                <div class="col-xl-6 col-lg-12">
                  <i class="fa fa-comments-o"></i>
                  <span class="ml-3 mr-3">{{'label.comments' | translate}}</span>
                  <span>{{numComments}}</span>
                </div>
            </div>

        </div>
    </div>

    <span footer-widget>{{'label.info.widget.stadistics' | translate}}</span>

</app-widget>
